.snakemake/
lightning_logs/
*.log
*.err
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
# Notebook side-effect: sq.pl.spatial_scatter(... save=...) writes here
# when executed from example/.
example/figures/
aestetik.egg-info
src/aestetik.egg-info/
build/
dist/
__pycache__/
*/__pycache__/*
*__pycache__*
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
